body{
    font-family: 'Lato', sans-serif;
}  


/* Contact Area */
#contact-area{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    padding-top: 35px;
}
#contact-area h1, #contact-area p{
    width:400px;
    margin:auto;
}
#contact-area p{
    padding-left: 80px;
    font-size: 20px;
}

/* quote */
 blockquote{
     font-family: 'Cinzel', serif; 
    font-weight: bold; 
    font-size: 59px;
} 

/* icons */
.icons{
    margin-bottom: 40px;
}
.fa-map-marker-alt{
    color: crimson;
}
.fa-phone{
    color: slateblue;
}
.fa-envelope{
    color: darkolivegreen;
}

