body{
    font-family: 'Lato', sans-serif;
}  

.navbar{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.navbar-brand{
    height: 60px;
    width: 80px;
    font-size: 25px;
    margin: 0px;
    margin-left: 25px;
}
.nav-item:first-child{
    font-size: 38px;
    margin-left: 40px;
}
.nav-item:nth-child(2){
    margin-left: 600px;
    padding-top: 20px;
}
.nav-item:nth-child(3){
    padding-top: 20px;
     /* margin-left: 450px;  */
}
.nav-item:nth-child(2):hover{
    font-weight: bold;
    text-decoration: underline;
}

#route-space{
    padding-left: 10px;
}

/* Contact Area */
#contact-area{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    padding-top: 35px;
}
#contact-area h1, #contact-area p{
    width:400px;
    margin:auto;
}
#contact-area p{
    padding-left: 80px;
    font-size: 20px;
}

/* quote */
 blockquote{
     font-family: 'Cinzel', serif; 
    font-weight: bold; 
    font-size: 59px;
} 

/* icons */
.icons{
    margin-bottom: 40px;
}
.fa-map-marker-alt{
    color: crimson;
}
.fa-phone{
    color: slateblue;
}
.fa-envelope{
    color: darkolivegreen;
}

/* footer */
.fa-facebook:hover{
    cursor: pointer;
    color:#3b5998;
}
.fa-twitter:hover{
    cursor: pointer;
    color:#1DA1F2;
}
.fa-google-plus:hover{
    cursor: pointer;
    color:#DB4437;
}
.fa-snapchat:hover{
    cursor: pointer;
    color:#fffc00;
}
.fa-youtube:hover{
    cursor: pointer;
    color:#ff0000;
}